*::before, *::after, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* start header */
.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/banner/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* start navigation bar */
.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar .nav-img-box {
    padding: 5px;
    height: 50px;
}

.nav-bar .links-list {
    display: flex;
    align-items: center;
}

.nav-bar .links-list li {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    margin: 2px 2px;
    padding: 0 8px;
}

.nav-bar .links-list li a {
    color: white;
    opacity: .98;
    letter-spacing: 1px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    align-self: center;
    cursor: pointer;
}

.hamburger .ham {
    padding: 1px;
    background-color: white;
    border-radius: 15px;
    width: 22px;
    align-self: center;
    transition: all 500ms;
}

.hamburger:hover .ham1, .hamburger:hover .ham3 {
    width: 22px;
}

.hamburger .ham1 {
    width: 15px;
    align-self: flex-start;
}

.hamburger .ham3 {
    width: 15px;
    align-self: flex-end;
}

/* end navigation bar */

.hero-title {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    text-align: center;
    width: 80vw;
}
/* end header */

/* start main */

/* start foundation section */
.foundations-section {
    padding: 0 10px 30px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.foundation-title {
    text-align: center;
    padding: 30px 0;
    font-weight: 900;
    font-size: 25px;
}

.foundation-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.foundation-items > div {
    padding: 20px;
    min-width: 150px;
    background-color: white;
    flex: 1;
    box-shadow: 0px 0px 10px 10px #f0f0f0;
    border-radius: 5px;
}

.item1:hover {
    background-color: #dbe8f0;
}

.item2:hover {
    background-color: #dcecec;
}

.item3:hover {
    background-color: #dce9e0;
}

.item4:hover {
    background-color: #ecefdc;
}

.item5:hover {
    background-color: #f7e2e7;
}

.foundation-img-box {
    height: 60px;
}

.foundation-img-box img {
    display: block;
    margin: 0 auto;
}

.item-name {
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px 0 10px 0;
}

.item-detail {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #3a3a3a;
    line-height: 20px;
    padding-bottom: 10px;

}
/* end section foundation */

/* start section vision */
.vision-ad-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner/slide2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.vision-title {
    padding-bottom: 60px;
    color: white;
    font-weight: 900;
    font-size: 22;
    text-transform: uppercase;
}

.vision-wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background: #CCC
}

.vision-vid-box {
    position: relative;
}

.vision-vid-box .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.vision-vid-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* end section vision */
/* end main */

/* utilities */
.btn {
    padding: 12% 18px;
    border: none;
    border-radius: 30px;
    letter-spacing: 2px;
}

.btn-blue {
    background-color: #0078BE;
    color: white;
    font-size: 10px;
}

.container {
    padding: 0 4vw;
    width: 100%;
}

img {
    height: 100%;
}

/* media query*/

@media only screen and (max-width: 900px) {
    /* navbar */
    .hamburger {
        display: flex;
    }

    .nav-bar .links-list {
        display: none;
    }
    /* end navbar */
}