*::before, *::after, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start header */
.nav-bar {
    
}

.nav-bar .nav-img-box {
    padding: 8px;
    height: 100px;
}
/* end header */

/* utilities */
.btn {
    padding: 14px 10px;
    border: none;
    border-radius: 5px;
}

.btn-blue {
    background-color: #0078BE;
    color: white;
}

.container {
    padding: 0 4vw;
    width: 100%;
}

img {
    height: 100%;
}